@import 'colors/colors.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @base;
    border: 1px solid @surface0;
    border-radius: 12px;
}

tooltip label {
    color: @text;
    padding: 6px;
}

#workspaces {
    background-color: alpha(@base, 0.92);
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @mantle;
    color: @text;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0 3px;
    border-radius: 45px;
    color: transparent;
    background-color: @mantle;
    transition: background-color 0.15s ease, min-width 0.15s ease;
}

#workspaces button.active {
    background-color: @mauve;
    color: @crust;
    min-width: 45px;
    transition: background-color 0.15s ease, min-width 0.15s ease;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @pink;
    color: @crust;
    border-radius: 16px;
    min-width: 45px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @crust;
    border-radius: 16px;
    min-width: 45px;
    transition: background-color 0.15s ease;
}

#bluetooth,
#tray,
#battery,
#pulseaudio,
#network,
#clock,
#custom-media,
#custom-notification,
#custom-launcher,
#custom-updates {
    background-color: alpha(@base, 0.92);
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 45px;
    border: 1px solid @mantle;
}

#clock {
    color: @lavender;
}

#custom-launcher {
    color: @teal;
}

#custom-notification {
    color: @text;
    margin: 0 12px 0 12px;
}

#custom-updates {
    color: @yellow;
}

#custom-media {
    color: @peach;
}

#bluetooth {
    color: @blue;
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @mauve;
}

#network.linked,
#network.disconnected {
    color: @red;
}

#battery {
    color: @green;
}